.header {
    width:100%;
    height: 100%;
    background-color: rgb(13, 23, 49);
    background-size: contain;
    border-bottom: 1px black solid;
    box-shadow: 3px black ;
    flex-wrap: wrap;
}

.header__foto {
    width: 100px;
    height: 50px;
    margin: 0px; 

}
.navbar, ul, li {
    flex-wrap: wrap;
    text-decoration: none;
    display: flex;
    padding: 15px;
    text-align: center;
    align-items: center;
    justify-content: space-between;

}


.navbar {
    list-style: none;
    display: inline-block;
    margin: 0 0px;
    padding: 0px;
    display: flex;
    
}




.header__link {
    color: whitesmoke;
    text-decoration: none;
    font-size: 2rem;
    display: flex;
    
}

.header__link:hover {
color: rgb(13, 23, 49);
background-color: white;
border-radius: 5px;
}

@media all and (max-width:620px) {
    .header {
        width:100%;
        height: 100%;
        background-color: rgb(13, 23, 49);
        background-size: contain;
        border-bottom: 1px black solid;
        box-shadow: 3px black ;
        flex-wrap: wrap;
    }
    
    .header__foto {
        width: 100px;
        height: 50px;
        margin: 0px; 
    
    }
    .navbar, ul, li {
        flex-wrap: wrap;
        text-decoration: none;
        display: flex;
        padding: 15px;
        text-align: center;
        align-items: center;
        justify-content: space-between;
    
    }
    
    
    .navbar {
        list-style: none;
        display: inline-block;
        margin: 0 0px;
        padding: 0px;
        display: flex;
        
    }
    
    
    
    
    .header__link {
        color: whitesmoke;
        text-decoration: none;
        font-size: 1.5rem;
        display: flex;
        
    }
    
    .header__link:hover {
    color: rgb(13, 23, 49);
    background-color: white;
    border-radius: 5px;
    }
}

@media all and (max-width:460px) {
    .header {
        width:100%;
        height: 100%;
        background-color: rgb(13, 23, 49);
        background-size: contain;
        border-bottom: 1px black solid;
        box-shadow: 3px black ;
        flex-wrap: wrap;
    }
    
    .header__foto {
        width: 100px;
        height: 50px;
        margin: 0px; 
    
    }
    .navbar, ul, li {
        flex-wrap: wrap;
        text-decoration: none;
        display: flex;
        padding: 15px;
        text-align: center;
        align-items: center;
        justify-content: space-between;
    
    }
    
    
    .navbar {
        list-style: none;
        display: inline-block;
        margin: 0 0px;
        padding: 0px;
        display: flex;
        
    }
    
    
    
    
    .header__link {
        color: whitesmoke;
        text-decoration: none;
        font-size: 0.9rem;
        display: flex;
        
    }
    
    .header__link:hover {
    color: rgb(13, 23, 49);
    background-color: white;
    border-radius: 5px;
    }
}
@media all and (max-width:360px) {
    .header {
        width:100%;
        height: 100%;
        background-color: rgb(13, 23, 49);
        background-size: contain;
        border-bottom: 1px black solid;
        box-shadow: 3px black ;
        flex-wrap: wrap;
    }
    
    .header__foto {
        width: 75px;
        height: 42px;
        margin: 0px; 
    
    }
    .navbar, ul, li {
        flex-wrap: wrap;
        text-decoration: none;
        display: flex;
        padding: 15px;
        text-align: center;
        align-items: center;
        justify-content: space-between;
    
    }
    
    
    .navbar {
        list-style: none;
        display: inline-block;
        margin: 0 0px;
        padding: 0px;
        display: flex;
        
    }
    
    
    
    
    .header__link {
        color: whitesmoke;
        text-decoration: none;
        font-size: 0.7rem;
        display: flex;
        
    }
    
    .header__link:hover {
    color: rgb(13, 23, 49);
    background-color: white;
    border-radius: 5px;
    }
}




