.nosotros {
    margin: 0px;
    display: flex;
    flex-direction: column;
    text-align: center ;

}

.nosotros-h2 {
    font-size: 40px;
    line-height: 100px;
}

.nosotros-h5 {
    font-size: 25px;
    line-height: 50px;
}

.nosotros-p {
    font-size: 15px;
    padding: 0px 20rem 0px 20rem;
    line-height: 24px;
}
.nosotros-ul {
    font-size: 15px;
    display: flex;
    flex-direction: column;
    text-decoration: solid;
}

@media all and (max-width:800px) {
    .nosotros-p {
        font-size: 15px;
        padding: 0px 20rem 0px 20rem;
        line-height: 24px;
    }
}