.nosotros {
    margin: 0px;
    display: flex;
    flex-direction: column;
    text-align: center ;

}

.nosotros-h2 {
    font-size: 40px;
    line-height: 100px;
}

.nosotros-h5 {
    font-size: 25px;
    line-height: 50px;
}

.nosotros-p {
    font-size: 15px;
    padding: 0px 20rem 0px 20rem;
    line-height: 24px;
}
.nosotros-ul {
    font-size: 15px;
    display: flex;
    flex-direction: column;
    text-decoration: solid;
}

@media all and (max-width:800px) {
    .nosotros-p {
        font-size: 15px;
        padding: 0px 20rem 0px 20rem;
        line-height: 24px;
    }
}
@media all and (max-width:700px) {
    .nosotros-p {
        font-size: 15px;
        width: 400px;  
        padding: 0px 0rem 0px 10rem;      
        line-height: 24px;
    }
}
@media all and (max-width:620px) {
    .nosotros-p {
        font-size: 15px;
        width: 300px;  
        padding: 0px 0rem 0px 12rem;      
        line-height: 24px;
    }
}
@media all and (max-width:520px) {
    .nosotros-p {
        font-size: 15px;
        width: 300px;  
        padding: 0px 0rem 0px 8rem;      
        line-height: 24px;
    }
}
@media all and (max-width:450px) {
    .nosotros-p {
        font-size: 15px;
        width: 300px;  
        padding: 0px 0rem 0px 5rem;      
        line-height: 24px;
    }
}
@media all and (max-width:400px) {
    .nosotros-p {
        font-size: 15px;
        width: 225px;  
        padding: 0px 0rem 0px 5rem;      
        line-height: 24px;
    }
}